*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 20rem;
    border-radius: 30px;
    padding: 0rem 2rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.2);

}
.computer{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.computer img{
    width: 12rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle{
    width: 10rem;
    height: 10rem;
    background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.75s ease-out;
}
.info h3{
    font-size: .8rem;
    padding: .5rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;

}
.sizes{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes button{
    padding: 0.2rem 0.8rem;
    font-size: 0.6rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}
button.active{
    background-color: #585858;
    color: white;
}
.purchase{
    margin-top: 2rem;
    transition: all 0.75s ease-out;
}
.purchase button{
    width: 100%;
    padding: 0.5rem 0rem;
    background: rgb(7, 89, 182);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}
